<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
    <title>显示用户</title>
    <link rel="stylesheet" href="test.css" type="text/css"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>密码</th>
        <th>性别</th>
        <th>生日</th>
        <th>年龄</th>
        <th>是否有效</th>
    </tr>
    </thead>
    <tbody th:each="i:${users}">>
    <tr >
        <td th:text="${i.id}"></td>
        <td th:text="${i.name}"></td>
        <td th:text="${i.pwd}"></td>
        <td th:text="${i.sexy}"></td>
        <td th:text="${i.birthday}"></td>
        <td th:text="${i.age}"></td>
        <td th:text="${i.isuse==0?'否':'是'}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>